{# src/OC/UserBundle/Resources/views/layout.html.twig #}

{# On étend notre layout #}
{% extends "APPCoreBundle::layout.html.twig" %}

{% block menu %}3{% endblock %}
{% block bouton %}3{% endblock %}
{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="col-lg-12">
    <section id="user_section">
    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    </section>
</div>
{% endblock %}