<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <!--hack html5 ie8-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--styles css-->
    <link rel="icon" href="{{ asset('/img/favicon.ico') }}"/>
    <!--balises meta-->
    <meta name="author" content="KRATZ Geoffrey"/>
    <meta name="description" content="BLA BLA BLA"/>
    <meta name="keywords" content="BLA, BLA, BLA"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet base symfony 3</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
</head>
<body class="animated">
<div class="animation-loading"><div></div></div>
<div class="site-container {% block full %}{% endblock %}">
    <div class="site-pusher">
        <header class="header">
            <div id="nav-icon{% block bouton %}{% endblock %}">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a id="logo" href="{{ path('app_core_homepage') }}" title="retourner à l'accueil">Projet base Oauth</a>
            <nav role="navigation" class="menu{% block menu %}{% endblock %} scrollbar">
                <ul>
                    <li class="active"><a href="{{ path('app_core_homepage') }}">home</a></li>
                    <li><a href="{{ path('app_core_full') }}">menu droite</a></li>
                    <li><a href="{{ path('app_core_menu2') }}">menu haut</a></li>
                    <li><a href="{{ path('app_core_menu3') }}">menu haut animation</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">connexion</a></li>
                </ul>
            </nav>
        </header>
        <div class="site-content scrollbar">
            <div class="container">
                <div class="row">
    {% block body %}{% endblock %}
                </div>
                <footer class="main-footer" style="color: #fff">
                    <p>pied de page</p>
                    <p>pied de page</p>
                    <p>pied de page</p>
                    <p>pied de page</p>
                </footer>
                <!-- Le contenu du site -->
            </div>
        </div>
        <div class="site-cache" id="site-cache"></div>
    </div>
</div>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>
<!--<script>
    $(document).click(function(){
        alert();
    });
</script>-->
<div class="animation-link"></div>
</body>
</html>