﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <link rel="icon" href="{{ asset('/img/facebook.ico') }}">
        <title>Facebook - Redirection</title>
        <style>
            body {
                background-color: #FDFDFE;
                padding: 0;
                margin: 0;
            }
            header {
                width: 100%;
                margin: 0 auto;
                background-color: #3D5B99;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="{{ asset('img/facebook_logo.png') }}" alt="Logo Facebook">
        </header>
        <section style="max-width: 600px; width: 80%; margin: 0 auto; text-align: center">
            <h1 style="color: #000;font-family: Arial, sans-serif; font-size: 20px; margin-top: 100px;">Connexion à votre compte Facebook</h1>
            <img style="margin-top: 70px; width: 70px;" src="{{ asset('img/facebook_login_loading.gif') }}" alt="chargement" />
        </section>
        <script type="text/javascript">

            setTimeout(function(){location.href = location.href.replace(/connect.*#/g, "connect?");}, 1000);
        </script>
    </body>
</html>
