{% extends 'APPCoreBundle::layout.html.twig' %}
{% block full %}
    {{ full }}
{% endblock %}

{% block menu %}{{ menu }}{% endblock %}
{% block bouton %}{{ menu }}{% endblock %}


{% block body %}
    <div class="col-lg-12">
    <section id="user_section">
        <header>
            <p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username | title }}
                -
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary">Déconnexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Connexion</a> via ce lien</p>
            {% endif %}
            <h1>Hello World!</h1>
        </header>
    </section>
    </div>

{% endblock %}